---
title: Home
layout: layouts/base.njk
---

<ul id="links">
    <li>Music: <a href="music">here</a></li>
    <li>GitHub: <a href="https://github.com/mirrexagon">github.com/mirrexagon</a></li>
</ul>
