body {
    background-color: #1b1b1b;
    color: #e0e0e0;
    font-family: 'PT Sans', sans-serif;
    font-size: 24pt;

    max-width: 650px;
    margin: 40px auto;
    padding: 0px 10px;
}

a:link {
    color: #d0d0d0;
}

a:visited {
    color: #909090;
}

a:hover {
    color: #ffffff;
}

a:active {
    color: #ffffff;
}

#header {
    padding-top: 32px;
    padding-left: 48px;
    padding-right: 48px;
    padding-bottom: 0px;

    img {
        display: inline-block;
    }
}

#hrule {
    padding: 0px 76px;
}

div#music-search {
    padding: 0 128px 8px;
}

#music-search input {
    font-size: 14pt;
    width: 100%;
}

#music-viewer {
    font-size: 18pt;
    padding: 16px;
    line-height: 1.4;
}

ul#music-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

div.song-item {
    background-color: #2b2b2b;
    padding: 8px 16px;
    margin-bottom: 24px;
}

.song-item p {
    padding: 8px 0;
    margin: 0;
    font-size: 14pt;

    white-space: pre-wrap;
}

.song-title {
    padding: 0;
    margin: 0;
    margin-bottom: 12px;
}

ul.song-downloads {
    padding: 0;
    margin: 0;
}

ul.song-downloads li {
    display: inline;
    font-size: 14pt;
}

.song-audio {
    width: 100%;
}

ul.song-tags {
    padding: 0;
    margin: 0;
}

ul.song-tags li {
    display: inline;
    font-size: 12pt;
}


