---
---

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="{{ '/styles.css' | url }}">
        <link rel="icon" type="image/png" href="{{ '/static/favicon.png' | url }}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans">

        <meta name="description" content="{{ title }} - {{ metaSuffix }}">

        <title>{{ title }} - Mirrexagon</title>
    </head>

    <body>
        <main>
            <header>
                <div style="margin: auto; max-width: 80%;">
                    <a href="/"><img src="/static/logo-mirrexagon-white.png" alt="Mirrexagon" style="width: 100%"></a>
                    <p style="color: #707070; font-size: 10pt">Header font is <a href="http://www.dafont.com/altera2.font">Altera 6</a>.</p>
                </div>
            </header>

            {{ content | safe }}
        </main>
    </body>
</html>
